<launch>
  <!-- Arguments -->
  <arg name="model" default="mantis" doc="model type [mantis, mantis]"/>
  <arg name="map_file" default="$(find mantis_navigation)/maps/turtlebot3_world.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="local_planner" default="dwa" doc="Local planner can be either dwa, base, teb or pose"/>

  <!-- mantis mantiste Steering TODO -->
  <!--include file="$(find mantis_bringup)/launch/mantis_mantiste.launch">
    <arg name="model" value="$(arg model)" />
  </include-->

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find mantis_navigation)/launch/amcl.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- move_base -->
  <include file="$(find mantis_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="local_planner" value="$(arg local_planner)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find mantis_navigation)/rviz/$(arg model)_navigation.rviz"/>
  </group>
</launch>
